.Main {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;  
}

.Main1 {
  background-color: #FFF;
  border-radius: 10px;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 150px;
}

.Main2 {
  background-color: #212121;
  position: absolute;
  width: 60%;
  height: 30%;
  top: 250px;
}

.navigatie {
    font-family: "Roboto",Arial,sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px 25px 10px 10px;
}

.navigatie {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navigatie li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}

.navigatie a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.navigatie a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #2ecc71;
  border-right: 3px solid #2ecc71;
}

.navigatie a:hover,
.navigatie .current a {
  color: rgba(0, 0, 0, 0.75);
}

.navigatie a:hover:before,
.navigatie .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}

body {
  background-color: #dddddd;
  padding: 50px 0;
}

.navigatie .current a:hover:before {
  opacity: 0;
  left: 15%;
  right: 15%;
}

#logofill {
    fill:#FFF;
    transition: all .25s ease;
    position: absolute;
    width: 100px;
    margin-left: 50px;
    top: 30px;
}

#logofill:hover {
    fill: transparent;
    stroke: #2ecc71;
    stroke-width: 10px;
    transition: all .25s ease;
}

@-webkit-keyframes anim-1 {
    50% {opacity: 0;-webkit-transform: translate3d(1em, 0, 0);transform: translate3d(1em, 0, 0);}
    51% {opacity: 0;-webkit-transform: translate3d(-1em, -40%, 0);transform: translate3d(-1em, -40%, 0);}
    100% {opacity: 1;-webkit-transform: translate3d(0, -40%, 0);transform: translate3d(0, -40%, 0);}
}

@keyframes anim-1 {
    50% {opacity: 0;-webkit-transform: translate3d(1em, 0, 0);transform: translate3d(1em, 0, 0);}
    51% {opacity: 0;-webkit-transform: translate3d(-1em, -40%, 0);transform: translate3d(-1em, -40%, 0);}
    100% {opacity: 1;-webkit-transform: translate3d(0, -40%, 0);transform: translate3d(0, -40%, 0);}
}