body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #F2F2F2;
}

#color1 {
    padding-top: 10%;
    float: left;
    padding-left: 25%;
}

#color2 {
    padding-top: 10%;
    float: right;
    padding-right: 25%;
}

#color_name2 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 20px;
    color: #F44336;
    position: absolute;
    padding-left: 15px; 
}

#color_name {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 20px;
    color: #3F51B5;
    position: absolute;
    padding-left: 15px;
}

#light_color_hex, #dark_color_hex {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 15px;
    padding-top: 17px;
}

#light_color_hex {
    padding-left: 15px;
    float: left;
}

#dark_color_hex {
    padding-right: 15px;
    float: right;
}

#color_bord, #color_bord2 {
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border-bottom: 2px solid #ccc;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow .25s ease;
}

#color_bord:hover, #color_bord2:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.32);
    transition: box-shadow .25s ease;
}

#color_demo {
    height: 60%;
    z-index: 2;
}

#light_color, #light_color2, #dark_color, #dark_color2 {
    box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.15) inset;
    width: 50%;
    height: 100%;
    float: left;
}

#light_color {
    border-top-left-radius: 10px;
    background-color: #3F51B5;
}

#dark_color {
    border-top-right-radius: 10px;
    background-color: #1A237E;
}

#light_color2 {
    border-top-left-radius: 10px;
    background-color: #F44336;
}

#dark_color2 {
    border-top-right-radius: 10px;
    background-color: #B71C1C;
}