body {
    overflow: hidden;
    background-color: #00b1e9;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    max-width: 100%;
    margin: 0;
}
#patterndiv {
    width: 100vw;
    height: 144vh;
    overflow: hidden;
    position: absolute;
    max-width: 100%;
}
#pattern {
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    height: 118vh;
    margin-top: -5em;
}

#content {
    width: 100%;
    text-align: center;
}

#logo {
  width: 75vw;
  margin-top: 15vh;
}

#appIcon {
  width: 40vw;
  margin: 8em 0em 2em 0em;
}

#laden {
  font-weight:900;
  color:white;
  font-style:italic;
  font-size:10vw;
  margin:0;
}