body {
    margin: 0;
    background: rgb(48, 55, 66);
    font-family: 'Montserrat', sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 10fr auto 10fr;
    grid-template-rows: 35vh auto;
    width: 100vw;
}

.header {
    grid-row: 1;
    display: grid;
    width: 100vw;
}

.header img {
    width: 33%;
    justify-self: center;
    align-self: center;
}

.content {
    grid-row: 2;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 2.5em 0;
}

.nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em;
    font-size: .75em;
    border-radius: 3px;
    margin: .5em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.nav a:nth-child(1) {background: #2ecc71;}
.nav a:nth-child(2) {background: #3498db;}
.nav a:nth-child(3) {background: #e74c3c;}

.products {
    display: flex;
    padding-bottom: 10vh;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.product {
    width: 250px;
    background: #262b32;
    height: auto;
    display: inline-table;
    margin-bottom: 5vh;
}

.product img {
        width: 100%;
}

.info {
    padding: 0 1em;
    color: rgba(255, 255, 255, 0.8);
    font-size: .9em;
}

.info div {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-bottom: .5em;
}

.info div span:nth-child(1) {
    font-size: .9em;
    justify-self: center;   
}

.info div span:nth-child(2) {
    padding: .5em;
    background: rgba(0, 0, 0, 0.25);
    width: fit-content;
    border-radius: 5px;
}

.view {
    text-align: center;
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.view a {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    color: #2ecc71;
    text-decoration: none;
}

.TOS {
    width: 100vw;
    height: 50px;
    background: #262b32;
    color: rgba(255, 255, 255, 0.49);
    z-index: 100;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: .75em;
}

.resellers {
    width: 100vw;
    height: 50px;
    background: #262b32;
    color: rgba(255, 255, 255, 0.49);
    z-index: 100;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    font-size: .75em;
}

.resellers span {
    margin: 0 1em 0 2em;
    padding: .5em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    transition: background .25s ease;
}

.resellers span:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.resellers i {margin:0 1em 0 0em;transition: transform .5s ease;}

.rotated {transform: rotate(180deg);}

.list {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background: inherit;    
}

.list a {
    color: white;
    text-decoration: none;
    font-style: italic;
    padding-bottom: .5em;    
}