body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;

  background: linear-gradient(225deg, #42e695, #3bb2b8);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

#titel {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  opacity: 0.33;
}

.content {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: margin-right 1s cubic-bezier(0.5, 0, 0.25, 1);
}

.wrappermargin {
  margin-right: 48em;
}

ul {
    margin: 1em;
    padding: .75em 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

li {
  display: inline;
  padding-right: 4em;
}

li a {
  text-decoration: none;
  color: #212121;
  opacity: 0.5;
}

#sidecontent {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#opdracht1_content, #opdracht2_content, #opdracht3_content, #opdracht4_content {
    
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: none;
}

#opdracht1_content:target {display: flex;}
#opdracht2_content:target {display: flex;}
#opdracht2_content {margin-top: 20em;}
#opdracht3_content:target {display: flex;}
#opdracht4_content:target {display: flex;}
#opdracht4_content {margin-top: 20em;}
#opdracht4_content p, #opdracht2_content p {font-weight:bold;color:white;}

#sidemain_op1 {
  width: 90%;
  top: 129px;
  position: absolute;
}

#sidemain_op1_2 {
  width: 90%;
  top: 500px;
  position: absolute;
}

p {
    text-align: center;
    padding: 2em;
    color: #212121;
    font-weight: 100;
    opacity: 0.75;
}

iframe {
  width: 100%;
  z-index: 99;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}